:root{
    background: #b2d8d8;
    --secundary:	#f1f5f5;
    --tertiary: #66b2b2;
    --black-text: #080808;
    --white-text: #ebf3f3;
    --button-hover:	#008080;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: url(Img/Img02.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: var(--white-text);
    margin: auto;
    padding: 3px;
}
h1{
    text-align: center;
    color: var(--tertiary);
    font-size: 40px;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid var(--tertiary);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: var(--white-text);
    font-size: 20px;
    background: var(--button-hover);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background:#006666;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: var(--tertiary);
    font-weight: 600;
}
.link:hover{
    color: #006666;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}
@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}